.features {

    padding-bottom: 60px;
    padding-top: 60px;
  

    font-size: 14px;
    line-height: 1.7;

    @media screen and (min-width: $desktop) {
            padding-bottom: 94px;
            padding-top: 94px;
            
        }


&__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden; 
}
}

.feature {

    display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 0;

    @media screen and (min-width: $desktop) {
            margin: -15px;
           
        }

&__item {

    margin: 15px;
    
        width: calc(100% - 2 * 15px) / 1;
    
        @media screen and (min-width: 768) {
            width: calc(100% - 4 * 15px) / 2;
         }
    
        @media screen and (min-width: 1200) {
            width: calc(100% - 8 * 15px) / 4;
        }
    
}

&__container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 450px;
    height: 120px;

    background-color: $backgraund-team-color;
    border-radius: 4px;

    @media screen and (min-width: $tablet) {
            width: 354px;
    
        }
    
        @media screen and (min-width: $desktop) {
            width: 270px;
        }
}

&__title {
    margin-top: 30px;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;

    text-transform: uppercase;
    color: $text-color;
}

&__text {
    display: flex;
  
    margin-top: 0;
    margin-bottom: 0;

    width: 450px;

    @media screen and (min-width: $tablet) {
            width: 354px;
    
        }
    
        @media screen and (min-width: $desktop) {
            width: 270px;
    
}
}
}