.footer {
    padding: 60px 0;

    width: 480px;

    background-color: $footer-portfolio-color;

    @media screen and (min-width: $mobile) {
            width: 100%;
        }
                
}

.footer-list {
    
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        }

                @media screen and (min-width: $desktop) {
                    
                    padding-left: 15px;
                }
    }