.hero {
  
    margin: 0 auto;
    height: 400px;
    width: 480px;
    
    padding-top: 118px;
    text-align: center;

    background-repeat: no-repeat;
    background-color: $footer-portfolio-color;
    background-position: center;
    background-image: linear-gradient(to right,
            $hero-background-image),
        url("../images/herobackgraund.jpg");

        @media screen and (min-width: $tablet) {
                
                width: 768px;
            }

        @media screen and (min-width: $desktop) {
            width: 1200px;
            height: 600px;
            }


&__title {
    margin-bottom: 30px;
    margin-top: 0;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $background-color;

    @media screen and (min-width: $desktop) {
            font-weight: 900;
                font-size: 44px;
                line-height: 1.4;
        }
}
}