.hero {
    min-width: 480px;
    
    @media screen and (min-width: $mobile) {
        width: 100%;
    }
}

.hero-container {
    margin: 0 auto;
    padding: 118px 60px;
    text-align: center;
    max-width: 480px;
    
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
        @media screen and (max-width: 767px) {
            background-image: linear-gradient(to right, $hero-background-image,
                    $hero-background-image),
                url('/images/img/header/header480.jpg');
    
            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                .hero-container {
                    background-image: linear-gradient(to right, $hero-background-image,
                            $hero-background-image),
                        url('/images/img/header/header480@2x.jpg');
                }
            }
        }
    
        @media screen and (min-width: $tablet) {
    padding: 118px 0;
    max-width: 768px;
            background-image: linear-gradient(to right, $hero-background-image,
                    $hero-background-image),
                url('/images/img/header/header768.jpg');
    
            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                .hero-container {
                    background-image: linear-gradient(to right, $hero-background-image,
                            $hero-background-image),
                        url('/images/img/header/header768@2x.jpg');
                }
            }
        }
    
        @media screen and (min-width: $desktop) {
            padding: 200px 0;       
            max-width: 1600px;
            height: 600px;
            background-image: linear-gradient(to right, $hero-background-image,
                    $hero-background-image),
                url('/images/img/header/header1200.jpg');
    
            @media screen and (min-device-pixel-ratio: 2),
            screen and (-webkit-min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                .hero-container {
                    background-image: linear-gradient(to right, $hero-background-image,
                            $hero-background-image),
                        url('/images/img/header/header1200@2x.jpg');
                }
            }
        }
    
&__title {
    margin-bottom: 30px;
    margin-top: 0;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $background-color;

    @media screen and (min-width: $desktop) {
            font-weight: 900;
                font-size: 44px;
                line-height: 1.36;
        }
}
}