.hero {
  
    margin: 0 auto;
    height: 400px;
    width: 480px;
    
    padding: 118px 60px;
    text-align: center;

    background-repeat: no-repeat;
    background-color: $footer-portfolio-color;
    background-position: center;
        background-size: 480px 400px;
    background-image: linear-gradient(to right,
            $hero-background-image),
        url("/images/img/header/header480.jpg");

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: url('/images/img/header/header480@2x.jpg');
            }
        }

        @media screen and (min-width: $tablet) {
            padding: 118px 204px;
                height: 400px;
                width: 768px;
                background-size: 768px 400px;
                background-image: linear-gradient(to right,
                            $hero-background-image),
                        url('/images/img/header/header768.jpg');
                
                    @media (min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                        .hero {
                            background-image: url('/images/img/header/header768@2x.jpg');
                        }
                    }
            }

        @media screen and (min-width: $desktop) {
            padding: 200px 452px;
            width: 1600px; 
            height: 600px;
            background-size: 1600px 600px;
            background-image: linear-gradient(to right,
                        $hero-background-image),
                    url('/images/img/header/header1200.jpg');
            
                @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    .hero {
                        background-image: url('/images/img/header/header1200@2x.jpg');
                    }
                }
            }


&__title {
    margin-bottom: 30px;
    margin-top: 0;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $background-color;

    @media screen and (min-width: $desktop) {
            font-weight: 900;
                font-size: 44px;
                line-height: 1.4;
        }
}
}