.page-header {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $border-bottom-color;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
            align-items: baseline;
        }
    
}
// Mobile menu
.menu-toggle {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $background-color;

&.menu-toggle--colorise {
        position: absolute;
        left: 92%;
        top: 1%;    
        cursor: pointer;

        &:hover,
        &:focus {
            color: $link-color;
        }
}

    & .icon-cross {
        display: none;
            }

    &.is-open .icon-cross {
    display: block;
            }

    &.is-open .icon-menu {
        // display: block;
        display: none;
    }

    &__icon {
        background-color: $background-color;
        margin-right: 15px; 
        fill: currentColor;
    }

        @media screen and (min-width: $tablet) {
            display: none;
        }

}

.menu-container {
    
    @media screen and (max-width: 767px) {
                display: none;
                position: absolute;
                top: 0;
                left: 0;

                padding: 0 40px 48px;
                width: 480px;
                height: 796px;

                text-align: left;
                font-size: 40px;
                background-color: $background-color;
                
                &.is-open {
                        display: block;
                    }
    }

        @media screen and (min-width: $tablet) {
            display: flex;
            flex-grow: 1;
            justify-content: space-between;
            align-items: center;
            
            height: 100%;
            padding: 0;
        }

}

.navigation {

margin-bottom: 300px;
margin-top: 50px;

@media screen and (min-width: $tablet) {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.contacts {
    margin-bottom: 64px;
    @media screen and (min-width: $tablet) {
            margin-bottom: 0;
        }
}

.social-netwok {
   
        font-size: 18px;
        line-height: 1.2;
        

    @media screen and (min-width: $tablet) {
            display: none;
        }

}