html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $text-main-color;

}
    


textarea {
    resize: none;
}

.container {
   
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    @media screen and (min-width: $mobile) {
          width: $mobile;

    @media screen and (min-width: $tablet) {
            width: $tablet;
            
    }
    @media screen and (min-width: $desktop) {
            width: $desktop;
                padding-left: 15px;
                padding-right: 15px;
                
}
}
}

.container--flex {

    @media screen and (min-width: $tablet) {
            display: flex;
        }

    
}

.container ul {
    list-style: none;
}

a {
    text-decoration: none;
}


.list {
@media screen and (min-width: $tablet) {
    margin-top: 0;
    margin-bottom: 0;
        
    }

    @media screen and (min-width: $desktop) {
            display: flex;
            align-items: baseline;
        }

}

.section {
    padding-bottom: 60px;
    padding-top: 60px;
  

    @media screen and (min-width: $desktop) {
            padding-bottom: 94px;
                padding-top: 94px;
        }
}

.works__title,
.teams__title,
.customers__title {

    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    text-align: center;
    color: $text-color;
    margin-bottom: 30px;
    margin-top: 0;

    @media screen and (min-width: $desktop) {
            font-size: 36px;
                line-height: 1.2;
                margin-bottom: 50px;
        }
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}