
$link-color: #2196F3;
$text-color: #212121;
$studio-nav-color: #000000;
$text-main-color: #757575;
$background-color: #FFFFFF;
$link-footer-color: rgba(255, 255, 255, 0.6);
$footer-portfolio-color: #2F303A;
$about-backgraund-color: #F5F5F5;
$backgraund-team-color: #F5F4FA;
$projet-border-color: #EEEEEE;
$box-shadow: rgba(0, 0, 0, 0.12);
$progect-box-shadow: rgba(0, 0, 0, 0.06);
$main-button-color: #188CE8;
$box-shadow-modal: rgba(0, 0, 0, 0.2);
$drop-shadow-color: rgba(0, 0, 0, 0.14);
$border-bottom-color: #ECECEC;
$backgraund-social-color: rgba(255, 255, 255, 0.1);
$actions-team-color: #AFB1B8;
$social-actions-color: #2F303A;
$border-social-actions-color:rgba(255, 255, 255, 0.3);
$social-actions-color: #2F303A;
$product-actions-color: rgba(33, 150, 243, 0.9);
$label-bg-collor: rgba(47, 48, 58, 0.8);
$border-collor: rgba(33, 33, 33, 0.2);
$placeholder-collor: rgba(117, 117, 117, 0.5);
$hero-background-image: rgba(47, 48, 58, 0);
